* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
a {text-decoration: none;}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* 기본 페이지에서 스크롤이 안 생기도록 함 */

  display: flex;
  justify-content: center;
  align-items: center;

  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100%;
  width: 90vw;

  /* background-color: antiquewhite; */
}

.fixed-side {
  width: 40%; /* 고정된 영역이 화면의 50% 차지 */
  height: 80vh; /* 고정된 영역의 높이를 화면의 80% 차지 */
  background: url("images/효민.png") center center;
  background-size: auto;
  background-repeat: no-repeat;
  /* filter: brightness(50%); */
  transition: all 0.3s;
  color: white;
  display: flex;
  justify-content: start;
  align-items: end;
  position: relative;
  z-index: 10; /* 고정된 영역이 draggable 영역 위에 오도록 */
}

.fixed-side::after {
  content: ''; /* 가상 요소의 내용 */
  position: absolute; /* 배경 이미지를 덮을 수 있도록 절대 위치 지정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* 부모의 배경 이미지를 상속받음 */
  filter: brightness(50%); /* 브라이트니스 필터 적용 */
  z-index: -1; /* 실제 콘텐츠 아래에 위치하도록 설정 */
}

.fixed-side h1 {
  position: absolute; /* 부모 요소에 상대적인 절대 위치 */
  left: -20rem; /* 왼쪽 끝에 고정 */
  bottom: 18rem; /* 아래쪽 끝에 고정 */
  transform: rotate(-90deg) translateY(50%); /* -90도 회전하고, 아래로 조금 이동시켜서 정확하게 고정 */
  font-size: 7rem;
  color: #ddd;
  transition: all 0.3s;
  pointer-events: none; /* 클릭 이벤트가 부모 요소로 전달되지 않도록 설정 */
}

.fixed-side:hover::after {
  filter: none;
  /* transform: scale(60%); */
  background-repeat: no-repeat;
}

.fixed-side:hover h1 {
  opacity: 0;
}

.draggable-side {
  width: 60%; /* 슬라이드 영역이 화면의 50% 차지 */
  height: 80vh; /* 슬라이드 영역의 높이를 화면의 80% 차지 */
  overflow: hidden; /* 내부에서만 스크롤이 가능하도록 설정 */
  display: flex;
  flex-direction: column;
}

.scrollable-content {
  height: 100%; /* 부모 요소 높이를 100%로 설정 */
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  overflow-y: scroll; /* 슬라이드 영역에서 스크롤 가능 */
  overflow-x: hidden;
  scroll-snap-type: y mandatory; /* 수직 스크롤 스냅 활성화 */
}

.slide {
  height: 100%; /* 각 슬라이드는 화면의 높이만큼 차지 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #3498db;
  color: white;
  /* border-bottom: 1px solid #fff; */
  scroll-snap-align: start; /* 각 슬라이드가 시작 위치에서 스냅되도록 설정 */
  transition: transform 0.3s ease;
  background-color: #2f2f2f;
}

.slide h2 {
  margin-bottom: 2rem;
}

.slidecontent {
  width: 80%;
  /* height: calc(100% - 15rem); */

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  line-height: 180%;
}

.slide2, .slide3, .slide4 {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .slide2> h2, .slide3> h2, .slide4> h2 {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
} */

.slide1 {
  /* display: flex;
  flex-direction: column; */
  align-items: start;
  justify-content: center;
  padding: 15%;
  width: 100%;
  height: 100%;

  font-family: "Black Han Sans", sans-serif;
  font-size: 5em;
}
.slide1> a {
  cursor: pointer;
  -webkit-text-stroke: 1px #f9f7f1;
  background-image: linear-gradient(0deg, #f9f7f1, #f9f7f1);
  background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  /* background-position: 0% 0%;
    background-size: 0 100%; */
  transition: all 0.4s;
}
.slide1 a:hover {
  background-size: 100% 100%;
}

.left {
  background-position: 0% 0%;
  background-size: 0 100%;
}
.right {
  background-position: 100% 0%;
  background-size: 0 100%;
}
.top {
  background-position: 0% 0%;
  background-size: 100% 0;
}
.bottom {
  background-position: 0% 100%;
  background-size: 100% 0;
}
.center {
  background-position: 50% 50%;
  background-size: 0 0%;
}


.slide2 {
  /* display: flex;
  flex-direction: column; */

  padding: 5%;
}

.slidecontent2 {
  list-style: inside;
}

.slidecontent2 li {
  width: 100%;
}

.slidecontent2 li> span {
  float: right;
}

.slidecontent3 {
  width: 25rem;
  /* height: 25rem; */
  list-style: none;
  display: flex;

  position: relative;

  /* border: 3px solid red; */
}

.slidecontent3> li {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slidecontent3 .progress {
  float: right;
  appearance: none;
}

.slidecontent3 .progress::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 12px;
  border: 1px solid black;
  height: 0.8rem;
  width: 15rem;
  overflow: hidden;
}

.slidecontent3 .progress::-webkit-progress-value {
  background: #3498db;
  border-radius: 12px;
}

.slidecontent3> li:last-of-type {
  display: flex;
  justify-content: space-evenly;
}

.slidecontent3 img {
  margin-top: 50px;
  width: 3rem;
  display: block;
}

.slidecontent4 {
  justify-content: center;
  align-items: center;

  text-align: center;

  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.slidecontent4> div {
  width: 25rem;
  height: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 3px solid red; */
  border-radius: 15px;
  background-color: #1d1d1d;
}
.slidecontent4> div:first-of-type {
  margin-bottom: 5px;
}

.slidecontent4 .hide {
  display: none;
}

.slidecontent4> div:hover .show {
  display: none;
}
.slidecontent4> div:hover .hide {
  display: block;
}